
name: Build YubiKey Manager
on:
  push:
    paths:
    - '.github/workflows/_build-push.yaml'
    - '.github/workflows/_merge-sign.yaml'
    - '.github/workflows/ykman-build.yaml'
    - 'ykman/*'
    - '!ykman/README.md'
  workflow_dispatch:
env:
  CONTAINER: ykman

################################################################################

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
jobs:

################################################################################

  env: 
    name: Setup Environment
    runs-on: ubuntu-latest
    outputs:
      container: ${{ steps.env.outputs.container }}
      version: ${{ steps.env.outputs.version }}
    steps:
    #===========================================================================
    - uses: actions/checkout@v4
    #===========================================================================
    - id: env
      run: |
        echo "container=${{ env.CONTAINER }}" >> $GITHUB_OUTPUT
        echo "version=$(cat ${{ env.CONTAINER }}/VERSION)" >> $GITHUB_OUTPUT

################################################################################

  build:
    needs: env
    strategy:
      fail-fast: false
      matrix:
        target:
          - arch: linux/amd64
            runner: ubuntu-24.04
          - arch: linux/arm64
            runner: ubuntu-24.04-arm
    name: Build Container (${{ matrix.target.arch }})
    uses: doubleu-labs/containers/.github/workflows/_build-push.yaml@master
    secrets:
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
      COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
      COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
    with:
      platform: ${{ matrix.target.arch }}
      runner: ${{ matrix.target.runner }}
      container: ${{ needs.env.outputs.container }}
      version: ${{ needs.env.outputs.version }}

################################################################################

  merge_sign_platform_containers:
    needs: [ env, build ]
    name: Merge and Sign Platform Containers
    uses: doubleu-labs/containers/.github/workflows/_merge-sign.yaml@master
    secrets:
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
      COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
      COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
    with:
      container: ${{ needs.env.outputs.container }}
      version: ${{ needs.env.outputs.version }}

################################################################################
